@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.glass, .social-media__item, .footer__social-media, .container, .textarea, .modal__box, .button, .header {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.505), rgba(255, 255, 255, 0.07));
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-left-color: rgba(255, 255, 255, 0.75);
  border-top-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1rem);
}

.flex__row, .social-media__list, .social-media__item, .container, .container__textarea, .modal, .button__normal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex__row--no-wrap, .advice, .buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}

.flex__row--justify-space-between, .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex__row--justify-space-between--align-stretch, .main {
  display: flex;
  align-items: strech;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex__column, .social-media__link, .footer, .container__textarea-box, .container__box, .container__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex__column--justify-space-between, .page-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex__column--justify-space-around, .modal__box, .buttons-container--tools {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
}

.page-container {
  max-width: 100vw;
  padding: 2rem;
  min-height: 100vh;
  height: auto;
  gap: 2rem;
  background: url("https://img3.goodfon.ru/wallpaper/nbig/0/2b/svet-cvet-krug-uzor.jpg");
}
.page-container::after {
  position: absolute;
  top: 3rem;
  left: 50%;
  background: rgb(0, 255, 255);
  width: 300px;
  height: 300px;
  z-index: -1;
  border-radius: 2rem;
}
.page-container::before {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  background: rgb(0, 255, 47);
  width: 300px;
  height: 300px;
  z-index: -1;
  border-radius: 2rem;
}

.header {
  width: 100%;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
}
.header__title {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  text-align: center;
}
@media (max-width: 1023px) {
  .header__title {
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  .header__title {
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
    order: -1;
    width: 100%;
  }
}

.buttons-container {
  gap: 3rem;
  height: auto;
  width: 90%;
}
.buttons-container--tools {
  width: auto;
  height: 100%;
  gap: 2rem;
}
@media (max-width: 1023px) {
  .buttons-container--tools {
    padding: 0 2rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.5rem;
  }
}
@media (max-width: 767px) {
  .buttons-container--box {
    flex-direction: column;
    gap: 1rem;
  }
}

.button {
  cursor: pointer;
  color: white;
}
.button__icon {
  font-size: 1.5rem;
}
.button__text {
  font-size: 0.8rem;
}
.button__tools {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.button__tools .button__text {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.button__normal {
  gap: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 2rem;
}

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transform: scale(0);
}
.modal.open {
  animation: open 0.5s forwards;
}
.modal.close {
  animation: close 0.5s forwards;
}
.modal__box {
  border-radius: 1.5rem;
  gap: 2rem;
  padding: 2rem;
  min-width: 200px;
  max-width: 400px;
  min-height: 250px;
  color: white;
}
@media (max-width: 767px) {
  .modal__box {
    width: 70%;
  }
}
.modal__icon-box {
  width: 100px;
  height: 100px;
  background: #000;
}
.modal__title {
  font-size: 1.5rem;
}
.modal__description {
  text-align: justify;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

@keyframes open {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.95);
  }
  95% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes close {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}
.main {
  width: 100%;
  gap: 1rem;
}
@media (max-width: 1023px) {
  .main {
    flex-direction: column;
  }
}

.container {
  width: 50%;
  height: auto;
  padding: 2rem 0;
  border-radius: 1rem;
  color: white;
}
.container__textarea {
  gap: 2rem;
  position: relative;
}
.container__textarea-box {
  width: 90%;
  min-height: 250px;
  position: relative;
}
.container__buttons {
  width: 6rem;
  height: auto;
}
.container__box {
  gap: 3.5rem;
  width: 90%;
}
.container__info {
  width: 30%;
  gap: 2rem;
  padding: 2rem;
  height: auto;
  display: none;
}
.container__encrypt-text {
  width: 30%;
}
@media (max-width: 1023px) {
  .container {
    width: 100%;
  }
}

.textarea-box__label {
  position: absolute;
  top: 0;
  left: 0;
}

.textarea {
  border-radius: 1rem;
  min-height: 250px;
  width: 100%;
}

.advice {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 140%);
  width: 100%;
}

.footer {
  width: 100%;
  gap: 1rem;
  text-align: center;
}
.footer__copyright {
  width: 100%;
  padding: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}
.footer__social-media {
  padding: 1.5rem;
  width: 100%;
}

.social-media__list {
  gap: 3rem;
  list-style: none;
}
.social-media__item {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.social-media__link {
  color: var(--color);
  text-decoration: none;
  position: relative;
}
.social-media__icon {
  font-size: 1.5em;
}
.social-media__text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  display: none;
}

/*# sourceMappingURL=styles.css.map */
