@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin     : 0;
    padding    : 0;
    font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
    box-sizing : border-box;
}

@mixin flex($align: center, $justify: center, $direction: row) {
    display        : flex;
    align-items    : $align;
    justify-content: $justify;
    flex-direction : $direction;
}

body {
    padding: 1rem 2rem;
    min-height: 100vh;
    @include flex($justify: space-between, $direction: column);
    gap: 2rem;
    background: #000;

    &::after {
        content: '';
        position: absolute;
        top: 3rem;
        left: 50%;
        background: rgb(0, 255, 255);
        width: 300px;
        height: 300px;
        z-index: -1;
        border-radius: 2rem;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 3rem;
        left: 50%;
        background: rgb(0, 255, 47);
        width: 300px;
        height: 300px;
        z-index: -1;
        border-radius: 2rem;
    }
}

.header {
    @include flex(center, space-between);
    width: 100%;
    background-color: red;
    padding: 0.5rem 2rem;
    border-radius: 1rem;

    &__title {
        color: white;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 0.8rem;
    }
}

#modal {
    display: none;
}

.main {
    width: 100%;
    height: min(450px, 70vh);
    @include flex($justify: space-between);
    gap: 4rem;
}

.buttons-container {
    @include flex;
    
    &--tools {
        @include flex($direction: column);
    }
}

.button {
    &__icon {
        font-size: 1.5rem;
    }

    &__text {
        font-size: 1rem;

    }

    &__tools {
        position: relative;

        .button__text {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.container {
    width: 60%;
    height: 100%;
    background: rgba(255, 255, 255, 0.171);
    border-radius: 3rem;
    border: 1px solid black;
    border-right-width: 2px;
    border-bottom-width: 2px;
    backdrop-filter: blur(1rem);
    color: #f00;
    @include flex($direction: column);

    &__textarea {
        @include flex();
        gap: 2rem;
        position: relative;
    
        &-box {
            width: 90%;
            position: relative;
            @include flex($direction: column);
        }
    }
    
    &__box {
        @include flex($direction: column);
        gap: 2rem;
        width: 60%;
    }

    &__info {
        display: none;
    }
    
    &__encrypt-text {
        width: 40%;
    }
}

.textarea-box {
    &__label {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.advice {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 100%;
}

.textarea {
    height: max(350px, 100%);
    width: 100%;
}

.social-media {
    &__list {
        @include flex;
        gap: 2rem;
        list-style: none;
    }

    &__link {
        @include flex($direction: column);
        text-decoration: none;
    }
}

.footer {
    color: #F00;
    @include flex($direction: column);
    gap: 2rem;
}