@use 'extendClass';
@use 'variables' as *;

.container {
    @extend .glass;
    @extend .flex__row;
    width        : 50%;
    height       : auto;
    padding      : 2rem 0;
    border-radius: 1rem;
    color        : $text-color;

    &__textarea {
        @extend .flex__row;
        gap     : 2rem;
        position: relative;
    
        &-box {
            @extend .flex__column;
            width     : 90%;
            min-height: 250px;
            position  : relative;
        }
    }

    &__buttons {
        width : 6rem;
        height: auto;
    }
    
    &__box {
        @extend .flex__column;
        gap  : 3.5rem;
        width: 90%;
    }

    &__info {
        @extend .flex__column;
        width  : 30%;
        gap    : 1rem;
        padding: 2rem;
        height : auto;
    }

    &__text {
        width: 100%;
        margin-top: 1rem;
        text-align: justify;
        line-height: 1.3rem;
    }

    &__image-box {
        width     : clamp(10px, 55%, 250px);
    }
    
    &__encrypt-text {
        display: none;
        width  : 30%;
    }

    @media (max-width: 1023px) {
        & {
            width: 100%;
        }
    }
}