@use 'extendClass';

.container {
    width        : 50%;
    height       : auto;
    padding      : 2rem 0;
    border-radius: 1rem;
    color        : white;
    @extend .glass;
    @extend .flex__row;

    &__textarea {
        @extend .flex__row;
        gap     : 2rem;
        position: relative;
    
        &-box {
            width     : 90%;
            min-height: 250px;
            position  : relative;
            @extend .flex__column;
        }
    }

    &__buttons {
        width : 6rem;
        height: auto;
    }
    
    &__box {
        @extend .flex__column;
        gap  : 3.5rem;
        width: 90%;
    }

    &__info {
        @extend .flex__column;
        width  : 30%;
        gap    : 1rem;
        padding: 2rem;
        height : auto;
    }

    &__image-box {
        width     : 10rem;
        height    : 10rem;
    }
    
    &__encrypt-text {
        display: none;
        width  : 30%;
    }

    @media (max-width: 1023px) {
        & {
            width: 100%;
        }
    }
}

.textarea-box {
    &__label {
        position: absolute;
        top     : 0;
        left    : 0;
    }
}