@use 'mixinsFunctions' as mixins;
@use 'variables' as *;


.decoration__background--1 {
    background   : linear-gradient(135deg, $background-gradient-color-1, $background-gradient-color-2);
}

.decoration__background--2 {
    background   : linear-gradient(315deg, $background-gradient-color-1, $background-gradient-color-2);
}

.decoration-base {
    @extend .decoration__background--1;
    content      : '';
    position     : absolute;
    border-radius: 50%;
}

.glass-border {
    border           : 1px solid $glass-border-color-2;
    border-left-color: $glass-border-color-1;
    border-top-color : $glass-border-color-1;
}

.glass {
    background       : linear-gradient(135deg, $glass-gradient-color-1, $glass-gradient-color-2);
    backdrop-filter  : blur(0.7rem);
    @extend .glass-border;
}

.custom-scrollbar {
    /* Works on Firefox */
    & {
        scrollbar-width: thin;
        scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
    }

    /* Works on Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
        width: 0.4rem;
    }

    &::-webkit-scrollbar-track {
        background: $scrollbar-track-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $scrollbar-thumb-color;
        border-radius   : 5px;
    }
}

.button-parent {
    @extend .flex__row;
    @extend .glass;
    cursor          : pointer;
    width           : 3rem;
    height          : 3rem;
    border-radius   : 50%;
    border          : 1px solid $button-border-color;
    transition      : all 0.5s ease;
    transition-delay: 0.2s;

    &:hover {
        background      : $color;
        box-shadow      : 0 0 5px $color,
                          0 0 15px $color,
                          0 0 30px $color,
                          0 0 60px $color;
        border-color    : $color;
        transform       : translateY(-0.8rem);
        transition-delay: 0.2s;
    }
}

.button-text {
    @extend .glass;
    color         : $text-color;
    position      : absolute;
    letter-spacing: 0.05rem;
    font-size     : 0.6rem;
    bottom        : 0;
    left          : 50%;
    border-color  : $color;
    padding       : 0.25rem 0.5rem;
    border-radius : 1rem;
    z-index       : 10;
    transform     : translate(-50%, 100%) scale(0);
    opacity       : 0;
    overflow      : hidden;
    transition    : all 0.5s ease;

    &::before {
        content   : '';
        position  : absolute;
        inset     : 0;
        background: $color;
        opacity   : 0.3;
        z-index   : -1;
        width     : 100%;
        height    : 100%;
    }
}

.button-text--parent-hover {
    transform       : translate(-50%, 1.7rem) scale(1);
    opacity         : 1;
    transition-delay: 0.2s;
}

.flex__row {
    @include mixins.flex();
}
.flex__row--no-wrap {
    @include mixins.flex($wrap: no-wrap);
}

.flex__row--justify-flex-start {
    @include mixins.flex($justify: flex-start);
}

.flex__row--justify-space-between {
    @include mixins.flex($justify: space-between);
}

.flex__row--justify-space-between--align-stretch {
    @include mixins.flex($align: strech, $justify: space-between);
}

.flex__column {
    @include mixins.flex($direction: column);
}

.flex__column--justify-space-between {
    @include mixins.flex($justify: space-between, $direction: column);
}

.flex__column--justify-space-around {
    @include mixins.flex($direction: column, $justify: space-around);
}