@use 'extendClass';

.footer {
    @extend .flex__column;
    width     : 100%;
    gap       : 1rem;
    text-align: center;

    &__copyright {
        font-size: 0.8rem;
        width  : 100%;
        padding: 0.5rem;
        letter-spacing: 0.1rem;
        line-height: 1.5rem;
    }

    &__social-media {
        @extend .glass;
        padding: 1.5rem;
        width  : 100%;
    }
}