@use 'extendClass';

.main {
    @extend .flex__row--justify-space-between--align-stretch;
    width: 100%;
    gap  : 1rem;

    @media (max-width: 1023px) {
        & {
            flex-direction: column;
        }
    }
}