@use 'extendClass';

.page-container {
    padding   : 2rem;
    min-height: 100vh;
    height    : auto;
    @extend .flex__row--justify-space-between;
    gap       : 2rem;
    background: url('https://img3.goodfon.ru/wallpaper/nbig/0/2b/svet-cvet-krug-uzor.jpg');

    &::after {
          // content: '';
        position     : absolute;
        top          : 3rem;
        left         : 50%;
        background   : rgb(0, 255, 255);
        width        : 300px;
        height       : 300px;
        z-index      : -1;
        border-radius: 2rem;
    }

    &::before {
          // content: '';
        position     : absolute;
        bottom       : 3rem;
        left         : 50%;
        background   : rgb(0, 255, 47);
        width        : 300px;
        height       : 300px;
        z-index      : -1;
        border-radius: 2rem;
    }
}